
section {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.content {
  position: relative;
  width: 100%;
  top: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white, 0.9;
}

.content .textBox {
  position: relative;
  max-width: 700px;}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: rgb(228,106,153);
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: rgb(251, 237, 236);
  color: rgb(228,106,153);
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.fas {
  color:rgb(255, 225, 0)
}

.content .imgBox {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  transform: rotate(-8deg);
  z-index: 2;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-100%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 230px;
  height: 190px;
}

/* .thumb #cocktail, #stack {
  height: 250px;
} */

.circle {
 position: absolute;
 top: 0;
 right: 100px;
 width: 100%;
 height: 100%;
 background: rgb(228,106,153);
 clip-path:  circle(800px at right 1200px);
 z-index: 1;
}